/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 7, ../scss/components/sidebar.scss */
h1 {
  color: green;
}

/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 8, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 10, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 14, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 18, ../scss/style.scss */
html {
  box-sizing: border-box;
}

/* line 22, ../scss/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 26, ../scss/style.scss */
.hide-me {
  height: 0;
  opacity: 0;
}

/***** SITE STYLES *************/
/**********************************/
/* line 34, ../scss/style.scss */
body {
  font-family: 'Raleway', sans-serif;
  color: #232323;
  width: 100%;
  height: 100%;
}

/* line 40, ../scss/style.scss */
h1 {
  font-family: 'Abril Fatface', sans-serif;
}

/* line 43, ../scss/style.scss */
h2, h3 {
  font-family: 'Abril Fatface';
  font-weight: 300;
}

/* line 50, ../scss/style.scss */
a {
  text-decoration: none;
  color: #232323;
}

/* line 56, ../scss/style.scss */
button {
  border: 3px solid #d1d35e;
  padding: 10px 25px;
  color: #232323;
  background-color: transparent;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  display: block;
  margin: 1em auto;
}

/* line 67, ../scss/style.scss */
form {
  display: block;
  width: 90%;
  margin: 0 auto;
}
/* line 72, ../scss/style.scss */
form input {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.3333333;
  color: #232323;
  margin-bottom: 1em;
}
/* line 83, ../scss/style.scss */
form textarea {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 160px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.3333333;
  color: #232323;
}

/* line 100, ../scss/style.scss */
.modal {
  opacity: 0;
  background-color: white;
  color: #232323;
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
}
/* line 108, ../scss/style.scss */
.modal .close-modal-icon {
  position: absolute;
  top: 20px;
  left: 3%;
  max-width: 30px;
}
/* line 114, ../scss/style.scss */
.modal nav {
  padding-top: 1em;
}
/* line 117, ../scss/style.scss */
.modal ul {
  padding: 0;
  list-style: none;
}
/* line 121, ../scss/style.scss */
.modal a {
  display: block;
  padding: 40px;
  font-size: 1.5em;
  color: #232323;
  text-align: center;
}

/* line 129, ../scss/style.scss */
.visible {
  opacity: 0.97;
}

/***** SITE STYLES *************/
/**********************************/
/* line 136, ../scss/style.scss */
.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* line 141, ../scss/style.scss */
.navigation {
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+11,000000+77,000000+100&0.88+62,0+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.88) 11%, rgba(0, 0, 0, 0.88) 62%, rgba(0, 0, 0, 0.53) 77%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.88) 11%, rgba(0, 0, 0, 0.88) 62%, rgba(0, 0, 0, 0.53) 77%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.88) 11%, rgba(0, 0, 0, 0.88) 62%, rgba(0, 0, 0, 0.53) 77%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  padding: 50px 0px;
}
/* line 149, ../scss/style.scss */
.navigation nav {
  display: none;
}
/* line 152, ../scss/style.scss */
.navigation .mobile-icon {
  position: absolute;
  top: 20px;
  left: 3%;
  max-width: 30px;
}
/* line 158, ../scss/style.scss */
.navigation .trademark {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 20%;
  max-width: 30px;
}

/* line 167, ../scss/style.scss */
html {
  height: 100%;
}

/* line 171, ../scss/style.scss */
.hero {
  background-image: url("../img/todd-lewis-hero.jpg");
  position: relative;
  background-size: cover;
  height: 100%;
  background-position: center center;
}
/* line 178, ../scss/style.scss */
.hero .hero-overlay {
  position: relative;
  top: 30%;
  left: auto;
  right: auto;
}
/* line 183, ../scss/style.scss */
.hero .hero-overlay h1 {
  color: white;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
/* line 190, ../scss/style.scss */
.hero .hero-overlay h4 {
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-weight: 300;
  margin: 0;
  font-family: 'Raleway';
}

/* line 201, ../scss/style.scss */
.subpage-hero {
  background-image: url("../img/about.jpg");
  position: relative;
  background-size: cover;
  height: 60%;
  background-position: center center;
}
/* line 208, ../scss/style.scss */
.subpage-hero .subpage-hero-overlay {
  position: relative;
  bottom: 20px;
  right: 20px;
  left: auto;
  right: auto;
}
/* line 214, ../scss/style.scss */
.subpage-hero .subpage-hero-overlay h1 {
  color: white;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
/* line 221, ../scss/style.scss */
.subpage-hero .subpage-hero-overlay h4 {
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-weight: 300;
  margin: 0;
  font-family: 'Raleway';
}

/* line 231, ../scss/style.scss */
.contact-hero {
  background-image: url("../img/contact.jpg");
  position: relative;
  background-size: cover;
  height: 60%;
  background-position: center center;
}

/* line 239, ../scss/style.scss */
.main-content .thinking {
  border-bottom: 1px solid #f1f1f1;
}
/* line 241, ../scss/style.scss */
.main-content .thinking p {
  line-height: 1.5em;
  margin: 1.5em auto;
  font-size: 1.2em;
  font-weight: 300;
}
/* line 249, ../scss/style.scss */
.main-content .thinking.sub-page div {
  margin: 0 auto;
  width: 100%;
}
/* line 253, ../scss/style.scss */
.main-content .thinking.sub-page img {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
/* line 259, ../scss/style.scss */
.main-content .main-title {
  margin: 3em 0em;
  text-align: center;
}
/* line 262, ../scss/style.scss */
.main-content .main-title h3 {
  color: #c5c7c6;
  margin: 0;
  font-size: 1.6em;
}
/* line 267, ../scss/style.scss */
.main-content .main-title h2 {
  margin: 0;
  font-size: 3.5em;
}
/* line 272, ../scss/style.scss */
.main-content a {
  display: block;
  margin-bottom: 6em;
}
/* line 276, ../scss/style.scss */
.main-content .post-date {
  width: 40%;
  max-width: 100px;
  margin: 0 auto;
  border-top: 1px solid #d1d35e;
  border-bottom: 1px solid #d1d35e;
}
/* line 282, ../scss/style.scss */
.main-content .post-date p {
  text-align: center;
  margin: 0.5em;
}
/* line 288, ../scss/style.scss */
.main-content .post-title {
  text-align: center;
}
/* line 290, ../scss/style.scss */
.main-content .post-title h2 {
  font-weight: 300;
  font-family: 'Raleway';
  font-size: 1.5em;
}

/* line 299, ../scss/style.scss */
.side-bar .reading {
  border-bottom: 1px solid #f1f1f1;
}
/* line 302, ../scss/style.scss */
.side-bar .book-post {
  text-align: center;
}
/* line 304, ../scss/style.scss */
.side-bar .book-post img {
  width: 70%;
  max-width: 200px;
  margin: 0em 1em 1em 1em;
  border: 1px solid #f1f1f1;
}
/* line 310, ../scss/style.scss */
.side-bar .book-post p {
  width: 60%;
  margin: 0 auto;
  line-height: 1.5em;
}
/* line 316, ../scss/style.scss */
.side-bar .twitter-post {
  text-align: center;
}
/* line 320, ../scss/style.scss */
.side-bar .media-post img {
  display: block;
  max-width: 200px;
  width: 90%;
  margin: 0 auto;
}

/* line 328, ../scss/style.scss */
footer {
  margin-top: 10em;
  padding: 5em 0em;
  background-color: #232323;
}
/* line 332, ../scss/style.scss */
footer img {
  display: block;
  width: 30%;
  margin: 0 auto;
  max-width: 120px;
}
/* line 338, ../scss/style.scss */
footer p {
  margin: 1.5em 0em;
  color: grey;
  padding: 0;
  text-align: center;
  font-size: 1.3em;
  font-style: italic;
}
/* line 346, ../scss/style.scss */
footer span {
  color: grey;
  font-size: 2.4em;
}
/* line 350, ../scss/style.scss */
footer nav {
  width: 50%;
  margin: 0 auto;
}
/* line 353, ../scss/style.scss */
footer nav ul {
  padding: 0;
}
/* line 356, ../scss/style.scss */
footer nav a {
  display: block;
  color: #d1d35e;
  font-weight: 600;
  text-align: center;
  padding: 9px 0px;
  font-size: 1.2em;
}

@media screen and (min-width: 680px) {
  /* line 368, ../scss/style.scss */
  .navigation {
    padding: 15px 0px;
  }
  /* line 370, ../scss/style.scss */
  .navigation .mobile-icon {
    display: none;
  }
  /* line 373, ../scss/style.scss */
  .navigation nav {
    display: block;
    text-align: center;
  }
  /* line 377, ../scss/style.scss */
  .navigation ul {
    padding: 0;
  }
  /* line 380, ../scss/style.scss */
  .navigation li {
    display: inline-block;
    width: 15%;
    text-align: center;
    vertical-align: middle;
  }
  /* line 386, ../scss/style.scss */
  .navigation a {
    color: white;
    padding: 10px;
  }
  /* line 390, ../scss/style.scss */
  .navigation .trademark {
    position: initial;
    width: 25%;
    max-width: 60px;
  }

  /* line 398, ../scss/style.scss */
  .main-content .thinking p {
    width: 80%;
  }
  /* line 402, ../scss/style.scss */
  .main-content .thinking.sub-page {
    width: 100%;
    margin: 0 auto;
  }
  /* line 407, ../scss/style.scss */
  .main-content .main-title h3 {
    font-size: 2em;
  }
  /* line 410, ../scss/style.scss */
  .main-content .main-title h2 {
    font-size: 4em;
  }
  /* line 415, ../scss/style.scss */
  .main-content .post-title h2 {
    width: 85%;
    margin: 1em auto;
    font-size: 2em;
  }

  /* line 423, ../scss/style.scss */
  footer a:hover {
    opacity: 0.8;
  }
}
@media screen and (min-width: 1000px) {
  /* line 429, ../scss/style.scss */
  .wrapper {
    width: 95%;
  }

  /* line 432, ../scss/style.scss */
  .main-content {
    margin: 4em auto;
  }
  /* line 434, ../scss/style.scss */
  .main-content .thinking {
    width: 66%;
    float: left;
    border-bottom: none;
  }
  /* line 438, ../scss/style.scss */
  .main-content .thinking p {
    width: 80%;
  }
  /* line 442, ../scss/style.scss */
  .main-content a.post {
    margin: 8em 0;
  }
  /* line 446, ../scss/style.scss */
  .main-content .side-bar {
    margin-left: 5%;
    width: 28%;
    float: left;
    padding: 0 5%;
    border-left: 1px solid #f1f1f1;
  }
  /* line 455, ../scss/style.scss */
  .main-content .side-bar .sharing {
    border: none;
  }
  /* line 459, ../scss/style.scss */
  .main-content .side-bar .book-post img {
    width: 50%;
  }
  /* line 462, ../scss/style.scss */
  .main-content .side-bar .book-post p {
    width: 90%;
  }

  /* line 470, ../scss/style.scss */
  footer nav {
    margin-top: 2em;
  }
  /* line 473, ../scss/style.scss */
  footer ul {
    text-align: center;
  }
  /* line 477, ../scss/style.scss */
  footer li {
    display: inline-block;
    padding: 0 20px;
  }
}
