/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 10, ../scss/components/sidebar.scss */
.side-bar .book-post {
  text-align: center;
}
/* line 12, ../scss/components/sidebar.scss */
.side-bar .book-post img {
  width: 80%;
  max-width: 200px;
  margin: 0em auto 1.5em auto;
  border: 1px solid #f1f1f1;
}
/* line 18, ../scss/components/sidebar.scss */
.side-bar .book-post p {
  width: 60%;
  margin: 0 auto;
  line-height: 1.5em;
}
/* line 24, ../scss/components/sidebar.scss */
.side-bar .twitter-post {
  text-align: center;
}
/* line 28, ../scss/components/sidebar.scss */
.side-bar .media-post img {
  display: block;
  max-width: 200px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  /* line 37, ../scss/components/sidebar.scss */
  .side-bar {
    margin-left: 5%;
    width: 28%;
    float: left;
    padding: 0 5%;
    border-left: 1px solid #f1f1f1;
  }
  /* line 46, ../scss/components/sidebar.scss */
  .side-bar .sharing {
    border: none;
  }
  /* line 50, ../scss/components/sidebar.scss */
  .side-bar .book-post img {
    width: 70%;
  }
  /* line 53, ../scss/components/sidebar.scss */
  .side-bar .book-post p {
    width: 90%;
  }
}
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 9, ../scss/components/navigation.scss */
.modal {
  opacity: 0;
  background-color: white;
  color: #232323;
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
}
/* line 17, ../scss/components/navigation.scss */
.modal .close-modal-icon {
  position: absolute;
  top: 20px;
  left: 3%;
  max-width: 30px;
}
/* line 23, ../scss/components/navigation.scss */
.modal nav {
  padding-top: 1em;
}
/* line 26, ../scss/components/navigation.scss */
.modal ul {
  padding: 0;
  list-style: none;
}
/* line 30, ../scss/components/navigation.scss */
.modal a {
  display: block;
  padding: 40px;
  font-size: 1.5em;
  color: #232323;
  text-align: center;
}

/* line 38, ../scss/components/navigation.scss */
.visible {
  opacity: 0.97;
}

/* line 42, ../scss/components/navigation.scss */
.navigation {
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  transition: top 0.2s ease-in-out;
  z-index: 5;
  color: white;
}
/* line 50, ../scss/components/navigation.scss */
.navigation nav {
  display: none;
}
/* line 53, ../scss/components/navigation.scss */
.navigation a {
  color: white;
}
/* line 56, ../scss/components/navigation.scss */
.navigation .mobile-icon {
  position: absolute;
  top: 20px;
  left: 3%;
  max-width: 30px;
}
/* line 62, ../scss/components/navigation.scss */
.navigation .trademark {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 50%;
  max-width: 30px;
}

/* line 70, ../scss/components/navigation.scss */
.scrollUp {
  top: -76px;
}

/* line 74, ../scss/components/navigation.scss */
.header-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#232323+0,000000+100&0.95+0,0.74+43,0.55+78,0.33+100 */
  background: -moz-linear-gradient(top, rgba(35, 35, 35, 0.95) 0%, rgba(20, 20, 20, 0.74) 43%, rgba(8, 8, 8, 0.55) 78%, rgba(0, 0, 0, 0.33) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(35, 35, 35, 0.95) 0%, rgba(20, 20, 20, 0.74) 43%, rgba(8, 8, 8, 0.55) 78%, rgba(0, 0, 0, 0.33) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(35, 35, 35, 0.95) 0%, rgba(20, 20, 20, 0.74) 43%, rgba(8, 8, 8, 0.55) 78%, rgba(0, 0, 0, 0.33) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2232323', endColorstr='#54000000',GradientType=0 );
  /* IE6-9 */
}

/* line 81, ../scss/components/navigation.scss */
.inverse-header {
  background-color: white;
}
/* line 83, ../scss/components/navigation.scss */
.inverse-header a {
  color: #232323;
}

@media screen and (min-width: 680px) {
  /* line 91, ../scss/components/navigation.scss */
  .navigation .mobile-icon {
    display: none;
  }
  /* line 94, ../scss/components/navigation.scss */
  .navigation nav {
    display: block;
    text-align: center;
  }
  /* line 98, ../scss/components/navigation.scss */
  .navigation ul {
    padding: 0;
  }
  /* line 101, ../scss/components/navigation.scss */
  .navigation li {
    display: inline-block;
    width: 15%;
    text-align: center;
    vertical-align: middle;
  }
  /* line 107, ../scss/components/navigation.scss */
  .navigation a {
    padding: 10px;
  }
  /* line 110, ../scss/components/navigation.scss */
  .navigation .trademark {
    position: initial;
    width: 40%;
    max-width: 60px;
  }
}
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 7, ../scss/components/footer.scss */
footer {
  margin-top: 6em;
  padding: 5em 0em;
  background-color: #232323;
}
/* line 11, ../scss/components/footer.scss */
footer img {
  display: block;
  width: 30%;
  margin: 0 auto;
  max-width: 120px;
}
/* line 17, ../scss/components/footer.scss */
footer p {
  margin: 1.5em 0em;
  color: grey;
  padding: 0;
  text-align: center;
  font-size: 1.3em;
  font-style: italic;
}
/* line 25, ../scss/components/footer.scss */
footer span {
  color: grey;
  font-size: 2.4em;
}
/* line 29, ../scss/components/footer.scss */
footer nav {
  width: 50%;
  margin: 0 auto;
}
/* line 32, ../scss/components/footer.scss */
footer nav ul {
  padding: 0;
}
/* line 35, ../scss/components/footer.scss */
footer nav a {
  display: block;
  color: #d1d35e;
  font-weight: 600;
  text-align: center;
  padding: 9px 0px;
  font-size: 1.2em;
}

@media screen and (min-width: 1000px) {
  /* line 50, ../scss/components/footer.scss */
  footer nav {
    margin-top: 2em;
  }
  /* line 53, ../scss/components/footer.scss */
  footer ul {
    text-align: center;
  }
  /* line 57, ../scss/components/footer.scss */
  footer li {
    display: inline-block;
    padding: 0 20px;
  }
}
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 7, ../scss/components/sub-page.scss */
.center {
  width: 100%;
  margin: 8em auto 0 auto;
}
/* line 10, ../scss/components/sub-page.scss */
.center a {
  display: block;
}
/* line 14, ../scss/components/sub-page.scss */
.center img {
  display: block;
  margin: auto;
}
/* line 18, ../scss/components/sub-page.scss */
.center p {
  margin: 0 auto;
  line-height: 1.5em;
}

/* line 24, ../scss/components/sub-page.scss */
.page h2 {
  text-align: center;
  font-size: 2.5em;
}
/* line 28, ../scss/components/sub-page.scss */
.page p {
  width: 100%;
}

/* line 32, ../scss/components/sub-page.scss */
.book-post {
  width: 80%;
  margin: 2em auto;
}
/* line 35, ../scss/components/sub-page.scss */
.book-post h2 {
  font-size: 1.5em;
  text-align: center;
}
/* line 39, ../scss/components/sub-page.scss */
.book-post img {
  display: block;
  max-width: 225px;
}
/* line 43, ../scss/components/sub-page.scss */
.book-post p {
  margin: 1em auto;
  max-width: 225px;
}

@media screen and (min-width: 680px) {
  /* line 51, ../scss/components/sub-page.scss */
  .center {
    width: 100%;
    margin: 10em auto 0 auto;
  }

  /* line 56, ../scss/components/sub-page.scss */
  .page h2 {
    font-size: 3em;
    text-align: center;
  }
}
/* line 64, ../scss/components/sub-page.scss */
.book-post {
  width: 80%;
  margin: 2em auto;
}
/* line 69, ../scss/components/sub-page.scss */
.book-post p {
  margin: 1em auto;
}

@media screen and (min-width: 1000px) {
  /* line 76, ../scss/components/sub-page.scss */
  .center {
    width: 85%;
    margin: 8em auto 0 auto;
  }

  /* line 83, ../scss/components/sub-page.scss */
  .page h2 {
    font-size: 4em;
    width: 85%;
    margin: 1em auto;
    max-width: 1000px;
  }
  /* line 89, ../scss/components/sub-page.scss */
  .page p {
    width: 85%;
  }

  /* line 93, ../scss/components/sub-page.scss */
  .book-post {
    width: 70%;
  }
  /* line 95, ../scss/components/sub-page.scss */
  .book-post h2 {
    font-size: 3em;
    text-align: center;
  }
  /* line 99, ../scss/components/sub-page.scss */
  .book-post img {
    max-width: 275px;
  }
  /* line 102, ../scss/components/sub-page.scss */
  .book-post p {
    margin: 1em auto;
    max-width: 275px;
  }
}
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 12, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 14, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 18, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 22, ../scss/style.scss */
html {
  box-sizing: border-box;
  height: 100%;
}

/* line 27, ../scss/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 31, ../scss/style.scss */
.hide-me {
  height: 0;
  opacity: 0;
}

/***** SITE STYLES *************/
/**********************************/
/* line 39, ../scss/style.scss */
body {
  font-family: 'Raleway', sans-serif;
  color: #232323;
  width: 100%;
  height: 100%;
}

/* line 46, ../scss/style.scss */
h1 {
  font-family: 'Abril Fatface', sans-serif;
}

/* line 49, ../scss/style.scss */
h2, h3 {
  font-family: 'Abril Fatface';
  font-weight: 300;
}

/* line 54, ../scss/style.scss */
a {
  text-decoration: none;
  color: #232323;
}

/* line 59, ../scss/style.scss */
button {
  border: 3px solid #d1d35e;
  padding: 10px 25px;
  color: #232323;
  background-color: transparent;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  display: block;
  margin: 1em auto;
  transition: all 0.3s ease 0s;
}
/* line 70, ../scss/style.scss */
button:hover {
  border: 3px solid #232323;
  background-color: #232323;
  color: #d1d35e;
}

/* line 76, ../scss/style.scss */
form {
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}
/* line 82, ../scss/style.scss */
form input {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.3333333;
  color: #232323;
  margin-bottom: 1em;
}
/* line 93, ../scss/style.scss */
form textarea {
  display: block;
  width: 100%;
  margin: 0 auto 3em auto;
  height: 160px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.3333333;
  color: #232323;
}

/* line 110, ../scss/style.scss */
.wrapper {
  width: 80%;
  margin: 0 auto;
}

/***** SITE STYLES *************/
/**********************************/
/* line 118, ../scss/style.scss */
.hero {
  background-image: url("../img/todd-lewis-hero.jpg");
  position: relative;
  background-size: cover;
  height: 100%;
  background-position: center center;
}
/* line 125, ../scss/style.scss */
.hero .hero-overlay {
  position: relative;
  top: 30%;
  left: auto;
  right: auto;
}
/* line 130, ../scss/style.scss */
.hero .hero-overlay h1 {
  color: white;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
/* line 137, ../scss/style.scss */
.hero .hero-overlay h4 {
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-weight: 300;
  margin: 0;
  font-family: 'Raleway';
}

/* line 148, ../scss/style.scss */
.subpage-hero {
  background-image: url("../img/about.jpg");
  position: relative;
  background-size: cover;
  height: 60%;
  background-position: center center;
}
/* line 155, ../scss/style.scss */
.subpage-hero .subpage-hero-overlay {
  position: relative;
  bottom: 20px;
  right: 20px;
  left: auto;
  right: auto;
}
/* line 161, ../scss/style.scss */
.subpage-hero .subpage-hero-overlay h1 {
  color: white;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
/* line 168, ../scss/style.scss */
.subpage-hero .subpage-hero-overlay h4 {
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-weight: 300;
  margin: 0;
  font-family: 'Raleway';
}

/* line 178, ../scss/style.scss */
.contact-hero {
  background-image: url("../img/contact.jpg");
  position: relative;
  background-size: cover;
  height: 60%;
  background-position: center center;
}

/* line 189, ../scss/style.scss */
.main-content .blog {
  margin-top: 3em;
}
/* line 191, ../scss/style.scss */
.main-content .blog div {
  margin: 0 auto;
  width: 100%;
}
/* line 195, ../scss/style.scss */
.main-content .blog img {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
/* line 200, ../scss/style.scss */
.main-content .blog p {
  line-height: 1.5em;
  margin: 2em auto;
  font-size: 1.2em;
  font-weight: 300;
}
/* line 207, ../scss/style.scss */
.main-content .main-title {
  margin: 3em 0em;
  text-align: center;
}
/* line 210, ../scss/style.scss */
.main-content .main-title h3 {
  color: #c5c7c6;
  margin: 0;
  font-size: 1.6em;
}
/* line 215, ../scss/style.scss */
.main-content .main-title h2 {
  margin: 0;
  font-size: 3.5em;
}
/* line 220, ../scss/style.scss */
.main-content a {
  display: block;
  margin: 3em auto;
}
/* line 225, ../scss/style.scss */
.main-content .post-date {
  width: 40%;
  max-width: 100px;
  margin: 0 auto;
  border-top: 1px solid #d1d35e;
  border-bottom: 1px solid #d1d35e;
}
/* line 231, ../scss/style.scss */
.main-content .post-date p {
  text-align: center;
  margin: 0.5em auto;
}
/* line 238, ../scss/style.scss */
.main-content .post-title {
  text-align: center;
}
/* line 240, ../scss/style.scss */
.main-content .post-title h2 {
  font-weight: 300;
  font-family: 'Raleway';
  font-size: 1.5em;
}
/* line 248, ../scss/style.scss */
.main-content .underline h2 {
  display: inline-block;
  border-bottom: 1px solid #d1d35e;
}
/* line 253, ../scss/style.scss */
.main-content .social {
  padding: 1em 0em;
}
/* line 255, ../scss/style.scss */
.main-content .social p {
  margin: 1.5em;
}
/* line 258, ../scss/style.scss */
.main-content .social a {
  display: inline-block;
  margin: 0;
  width: 50px;
}
/* line 263, ../scss/style.scss */
.main-content .social img {
  max-width: 50px;
  margin: 0 auto;
}

@media screen and (min-width: 680px) {
  /* line 275, ../scss/style.scss */
  .main-content .blog p {
    width: 80%;
  }
  /* line 280, ../scss/style.scss */
  .main-content .main-title h3 {
    font-size: 2em;
  }
  /* line 283, ../scss/style.scss */
  .main-content .main-title h2 {
    font-size: 4em;
  }
  /* line 288, ../scss/style.scss */
  .main-content .post-title h2 {
    width: 85%;
    margin: 1em auto;
    font-size: 2em;
  }

  /* line 296, ../scss/style.scss */
  footer a:hover {
    opacity: 0.8;
  }
}
@media screen and (min-width: 1000px) {
  /* line 302, ../scss/style.scss */
  .wrapper {
    width: 95%;
  }

  /* line 305, ../scss/style.scss */
  .main-content {
    margin: 4em auto;
  }
  /* line 307, ../scss/style.scss */
  .main-content .blog {
    width: 66%;
    float: left;
    border-bottom: none;
  }
  /* line 311, ../scss/style.scss */
  .main-content .blog p {
    width: 80%;
  }
  /* line 315, ../scss/style.scss */
  .main-content a.post {
    margin: 8em 0;
  }

  /* line 320, ../scss/style.scss */
  .hero .hero-overlay {
    position: relative;
    top: 30%;
    left: auto;
    right: auto;
  }
  /* line 325, ../scss/style.scss */
  .hero .hero-overlay h1 {
    font-size: 6em;
  }
}
