// @import "Compass";
@import "_variables";
@import "components/sidebar";
@import "components/navigation";
@import "components/footer";
@import "components/sub-page";


/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/

.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.hide-me{
	height:0;
	opacity:0;
}

/***** SITE STYLES *************/
/**********************************/

body{
    font-family: 'Raleway', sans-serif;
    color:$black;
    width: 100%;
    height: 100%;
    // padding-top:50px;
}
h1{
    font-family: 'Abril Fatface', sans-serif;
}
h2,h3{
    font-family: 'Abril Fatface';
    font-weight:300;
}

a{
    text-decoration: none;
    color:$black;
}

button{
    border: 3px solid $gold;
    padding:10px 25px;
    color:$black;
    background-color:transparent;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    display: block;
    margin: 1em auto;
    transition: all 0.3s ease 0s;
    &:hover{
        border: 3px solid $black;
        background-color:$black;
        color:$gold;
    }
}
form{
    display: block;
    width:90%;
    margin:0 auto;
    max-width: 800px;

    input{
        display: block;
        width:100%;
        margin: 0 auto;
        height: 50px;
        padding: 10px 10px;
        font-size: 16px;
        line-height: 1.3333333;
        color:$black;
        margin-bottom:1em;
    }
    textarea{
        display: block;
        width: 100%;
        margin: 0 auto 3em auto;
        height: 160px;
        padding: 10px 10px;
        font-size: 16px;
        line-height: 1.3333333;
        color:$black;
    }
}
#activeNav{
}

#activeSideBar{
}

.wrapper{
    width:80%;
    margin: 0 auto;
}


/***** SITE STYLES *************/
/**********************************/
.hero{
    background-image: url("../img/todd-lewis-hero.jpg");
    position:relative;
    background-size:cover;
    height: 100%;
    background-position: center center;

    .hero-overlay{
        position: relative;
        top:30%;
        left:auto;
        right:auto;
        h1{
            color:white;
            font-size:4em;
            font-weight: 300;
            text-align: center;
            margin:0;
        }
        h4{
            color:white;
            text-align:center;
            font-size: 1.7em;
            font-weight:300;
            margin:0;
            font-family: 'Raleway';
        }
    }
}

.subpage-hero{
    background-image: url("../img/about.jpg");
    position:relative;
    background-size:cover;
    height: 60%;
    background-position: center center;

    .subpage-hero-overlay{
        position: relative;
        bottom:20px;
        right:20px;
        left:auto;
        right:auto;
        h1{
            color:white;
            font-size:4em;
            font-weight: 300;
            text-align: center;
            margin:0;
        }
        h4{
            color:white;
            text-align:center;
            font-size: 1.7em;
            font-weight:300;
            margin:0;
            font-family: 'Raleway';
        }
    }
}
.contact-hero{
    background-image: url("../img/contact.jpg");
    position:relative;
    background-size:cover;
    height: 60%;
    background-position: center center;
}



.main-content{
    
    .blog{
        margin-top: 3em;
        div{
            margin:0 auto;
            width:100%;
        }
        img{
            display: block;
            max-width: 200px;
            margin: 0 auto;
        }
        p{
            line-height: 1.5em;
            margin:2em auto;
            font-size: 1.2em;
            font-weight: 300;
        }
    }
    .main-title{
       margin:3em 0em;
        text-align:center;
        h3{
            color:$grey;
            margin:0;
            font-size: 1.6em;
        }
        h2{
            margin:0;
            font-size: 3.5em;
        }
    }
    a{
        display: block;
        margin-bottom:6em;
    }

    .post-date{
        width:40%;
        max-width:100px;
        margin:0 auto;
        border-top:1px solid $gold;
        border-bottom:1px solid $gold;
        p{
            text-align: center;
            margin:0.5em;

        }
    }

    .post-title{
        text-align:center;
        h2{
            font-weight: 300;
            font-family: 'Raleway';
            font-size:1.5em;
        }
    }

    .underline{
        h2{
            display: inline-block;
            border-bottom: 1px solid $gold;
        }
    }
    .social{
        padding:1em 0em;
        p{
            margin:1.5em;
        }
        a{
            display: inline-block;
            margin:0;
            width: 50px;
        }
        img{
            max-width:50px;
            margin:0 auto;
        }
    }
}

@media screen and (min-width: 680px) {
    
    
    .main-content{
        .blog{
            p{
                width:80%;
            }
        }
        .main-title{
            h3{
                font-size: 2em;
            }
            h2{
                font-size: 4em;
            }
        }
        .post-title{
            h2{
                width: 85%;
                margin:1em auto;
                font-size:2em;
            }
        }
    }
    footer{
        a:hover{
            opacity:0.8;
        }
    }
}
@media screen and (min-width: 1000px) {
    .wrapper{
        width:95%;
    }
    .main-content{
        margin:4em auto;
        .blog{
            width:66%;
            float:left;
            border-bottom:none;
            p{
                width:80%;
            }
        }
        a.post{
            margin:8em 0;
        }
    }
}


























