@import "Compass";
@import "_variables";


/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.side-bar{
    .reading{
    }
    .book-post{
        text-align:center;
        img{
            width: 80%;
            max-width: 200px;
            margin:0em auto 1.5em auto;
            border: 1px solid $light-grey;
        }
        p{
            width: 60%;
            margin: 0 auto;
            line-height: 1.5em;
        }
    }
    .twitter-post{
        text-align:center;
    }
    .media-post{
        img{
            display: block;
            max-width: 200px;
            width:90%;
            margin: 0 auto;
        }
    }
}
@media screen and (min-width: 1000px) {
	.side-bar{
            margin-left: 5%;
            width:28%;
            float:left;
            padding:0 5%;
            border-left:1px solid $light-grey;
            .reading{
                
            }
            .sharing{
                border:none;
            }
            .book-post{
                img{
                    width:70%;
                }
                p{
                    width: 90%;
                }
            }
        }
}





















