@import "_variables";


/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/

.center{
    width: 100%;
    margin: 8em auto 0 auto;
    a{
        display:block;
    }
    
    img{
        display: block;
        margin: auto;
    }
    p{
        margin: 0 auto;
        line-height: 1.5em;
    }
}
.page{
    h2{
        text-align:center;
        font-size: 2.5em;
    }
    p{
        width:100%;
    }
}
.book-post{
    width:80%;
    margin:2em auto;
    h2{
        font-size: 1.5em;
        text-align:center;
    }
    img{
        display: block;
        max-width: 225px;
    }
    p{
        margin:1em auto;
        max-width: 225px;
    }
}

@media screen and (min-width: 680px) {
    
    .center{
        width: 100%;
        margin: 10em auto 0 auto;
    }
    .page{
        h2{
            font-size: 3em;
            text-align:center;
        }
        p{
        }
    }
}
.book-post{
    width:80%;
    margin:2em auto;
    img{
    }
    p{
        margin:1em auto;
    }
}

@media screen and (min-width: 1000px) {
	
    .center{
        width: 85%;
        margin: 8em auto 0 auto;
            img{
            }
        }
    .page{
        h2{
            font-size: 4em;
            width: 85%;
            margin: 1em auto;
        }
        p{
            width:85%;
        }
    }
    .book-post{
        width:70%;
        h2{
            font-size: 3em;
            text-align:center;
        }
        img{
            max-width: 275px;
        }
        p{
            margin:1em auto;
        }
    }
}





















