/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 7, ../../scss/components/sub-page.scss */
.center {
  width: 100%;
  margin: 8em auto 0 auto;
}
/* line 10, ../../scss/components/sub-page.scss */
.center a {
  display: block;
}
/* line 14, ../../scss/components/sub-page.scss */
.center img {
  display: block;
  margin: auto;
}
/* line 18, ../../scss/components/sub-page.scss */
.center p {
  margin: 0 auto;
  line-height: 1.5em;
}

/* line 24, ../../scss/components/sub-page.scss */
.page h2 {
  text-align: center;
  font-size: 2.5em;
}
/* line 28, ../../scss/components/sub-page.scss */
.page p {
  width: 100%;
}

/* line 32, ../../scss/components/sub-page.scss */
.book-post {
  width: 80%;
  margin: 2em auto;
}
/* line 35, ../../scss/components/sub-page.scss */
.book-post h2 {
  font-size: 1.5em;
  text-align: center;
}
/* line 39, ../../scss/components/sub-page.scss */
.book-post img {
  display: block;
  max-width: 225px;
}
/* line 43, ../../scss/components/sub-page.scss */
.book-post p {
  margin: 1em auto;
  max-width: 225px;
}

@media screen and (min-width: 680px) {
  /* line 51, ../../scss/components/sub-page.scss */
  .center {
    width: 100%;
    margin: 10em auto 0 auto;
  }

  /* line 56, ../../scss/components/sub-page.scss */
  .page h2 {
    font-size: 3em;
    text-align: center;
  }
}
/* line 64, ../../scss/components/sub-page.scss */
.book-post {
  width: 80%;
  margin: 2em auto;
}
/* line 69, ../../scss/components/sub-page.scss */
.book-post p {
  margin: 1em auto;
}

@media screen and (min-width: 1000px) {
  /* line 76, ../../scss/components/sub-page.scss */
  .center {
    width: 85%;
    margin: 8em auto 0 auto;
  }

  /* line 83, ../../scss/components/sub-page.scss */
  .page h2 {
    font-size: 4em;
    width: 85%;
    margin: 1em auto;
  }
  /* line 88, ../../scss/components/sub-page.scss */
  .page p {
    width: 85%;
  }

  /* line 92, ../../scss/components/sub-page.scss */
  .book-post {
    width: 70%;
  }
  /* line 94, ../../scss/components/sub-page.scss */
  .book-post h2 {
    font-size: 3em;
    text-align: center;
  }
  /* line 98, ../../scss/components/sub-page.scss */
  .book-post img {
    max-width: 275px;
  }
  /* line 101, ../../scss/components/sub-page.scss */
  .book-post p {
    margin: 1em auto;
  }
}
